<!DOCTYPE html>
<html lang="en">
  <head>
    {{> includes/_googleanalytics}}
    {{> includes/_jquery}}
    {{> includes/_googleplatform}}
    {{> includes/_index}}
    <link rel="stylesheet" href="/css/main.css">
    <title>{{title}} - Pinpoint Shooting</title>
  </head>

  <body>
    <div class="header">
      <div class="js_logged_in" style="display:none;width:100px;text-align:center;">
        <div class="profile_image"></div>
        <button onClick="signOut();">logout</a>
      </div>
    </div>

    <div class="lh_panel">
      <a href="https://rust.graystorm.com/" target="_new"><img class="logo" src="/img/profile_picture.png"></a>
      <div class="js_logged_out" style="text-align: center">
        <div style="display: inline-block;" class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
    </div>

    <div id="map" class="map">
      <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.495230, lng: -80.136490},
            zoom: 8
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initMap"
      async defer></script>
    </div>

    <div class="rh_panel">
      <div style="position:absolute; bottom: 10px; left: 10px;">
        <a href="https://github.com/jculverhouse/pinpoint_shooting" target="_new" style="font-size: .8em;color: white;">PinpointShooting on GitHub</a>
      </div>
    </div>
  </body>

</html>

