body {
	background-color: #000000;
	color: #FFFFFF;
}

div.header {
	position: absolute;
    top: 0;
    left: 202px;
    right: 202px;
	height: 148px;
    background-color: #000000;
}

div.lh_panel {
	background-color: #123D18;
	position: absolute;
	top: 0;
	left: 0;
	width: 198px;
	height: calc(100vh - 40px);
	border: 1px solid #FFFFFF;
	overflow: hidden;
    margin: auto;
    text-align: center;
}

div.map {
	position: absolute;
	top: 150px;
	left: 202px;
	right: 202px;
	margin: auto;
	height: calc(100vh - 190px);
	border: 1px solid #FFFFFF;
}

div.rh_panel {
	background-color: #122D18;
	position: absolute;
	top: 0;
	right: 0;
	width: 198px;
	height: calc(100vh - 40px);
	border: 1px solid #FFFFFF;
	overflow: hidden;
}

img.logo {
	width: 100%;
	margin: auto 0;
}

h1.title a {
	display: block;
	font-size: 1.1em;
	margin-left: 20px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: #FFA500 1px 0 10px;
}

button {
    font-size: .8em;
    font-family: Arial;
    color: black;
    background-color: #FFA500;
    border-radius: 8px;
    padding: 2px 20px;
}

div.profile_image {
    margin: 4px 2px;
    width: 96px;
    height: 96px;
}
