body {
	background-color: #123d18;
	color: white;
}

div.header {
	position: absolute;
    top: 0;
    left: 202px;
    right: 202px;
	height: 148px;
    background-color: white;
}

div.lh_panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 198px;
	height: calc(100vh - 40px);
	border: 1px solid white;
	overflow: hidden;
    margin: auto;
    text-align: center;
}

div.map {
	position: absolute;
	top: 150px;
	left: 202px;
	right: 202px;
	margin: auto;
	height: calc(100vh - 190px);
	border: 1px solid white;
}

div.rh_panel {
	position: absolute;
	top: 0;
	right: 0;
	width: 198px;
	height: calc(100vh - 40px);
	border: 1px solid white;
	overflow: hidden;
}

img.logo {
	width: 100%;
	margin: auto 0;
}

h1.title a {
	display: block;
	font-size: 1.1em;
	margin-left: 20px;
	text-transform: uppercase;
	color: white;
	text-shadow: #FFA500 1px 0 10px;
}

button {
    font-size: 1.1em;
    color: black;
    background-color: #FFA500;
    margin: 10px;
}
