{{- define "_sidemenu" }}
        <div id="left-column" class="col-sm-5 col-md-4 col-xl-3 col-xxl-2 full-height">
          <div id="logo">
            <a href="/"><img src="/static/images/pinpoint-shooting-logo.png"></a>
          </div>                                                                                                                                                                                                                            
        
          {{- template "_footer" -}}
        </div>
{{- end}}
